body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fde2e4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 1em;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 1em;
    color: #fc46aa;
    background-color: rgba(254, 197, 229, 0.8);
    font-size: 2em;
    z-index: 999;
}

header {
    position: relative;
    text-align: center;
    /* Center header content */
}

header img.banner-photo {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}


h2 {
    color: #ff3385;
}

main {
    padding: 1.25em;
    padding-bottom: 7em;
}

.intro {
    font-family: "Tempus Sans ITC", sans-serif;
    font-weight: bold;
}

nav {
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ff3385;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

nav a:hover {
    color: #800080;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #ff3385;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex: 0 0 100px;
    margin-top: auto;
}

section#schedule {
    background-color: #fff;
    padding: 1.25em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25em;
}

th,
td {
    border: 1px solid #ddd;
    padding: 1.25em;
    text-align: left;
}

th {
    background-color: #ff66a3;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.audio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.audio-item {
    width: 100%;
    max-width: 60%;
    margin: 1em;
    padding: 4em;
    background-color: #ff99bb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

audio {
    width: 100%;
}

#subscribe {
    text-align: center;
    padding: 1.25em;
    background-color: #fde2e4;
}

#confirmation {
    display: none;
    text-align: center;
    padding: 1.25em;
    background-color: #fde2e4;
}

input,
label {
    display: block;
    margin-bottom: 1.25em;
    padding: 0.5em;
    width: 30%;
    box-sizing: border-box;
}

button {
    display: block;
    margin-top: 1.25em;
    padding: 1.25em;
    background-color: #ff3385;
    color: #fff;
    border: none;
    cursor: pointer;
}

input:invalid {
    border: 2px solid #ff0000;
}

#subscribeForm:target+#confirmation {
    display: block;
}

/*Reviews*/
.review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review-box {
    width: 100%;
    max-width: 300px;
    margin: 1em;
    padding: 1.5em;
    background-color: #fcbacb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.25em;
}

#nav-toggle {
    display: none;
}

/* Media query for mobile view */
@media only screen and (max-width: 768px) {
    h1 {
        position: absolute;
        top: 30%;
        left: 50%;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ff3385;
        color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    nav.active {
        display: flex;
    }

    #nav-toggle {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
        z-index: 1001;
    }

    figure {
        margin-top: 60px;
    }

    main {
        margin-top: 10em;
    }
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 2em;
    }

    .review-box {
        width: calc(40% - 20px);
    }
}